// 正文字體大小
$font-size-base = 18px

$font-size-headings-base = 28px

$table-font-size = 18px

// 代碼字體大小
$code-font-size = 17px

$btn-default-font-size = 18px

$logo-font-size = 24px

$subtitle-font-size = 17px

$read-more-font-size = 18px

$site-description-font-size = 18px
